beautifulsoup4==4.8.1
certifi==2019.9.11
chardet==3.0.4
Click==7.0
Flask==1.1.1
greenlet==0.4.15
idna==2.8
isodate==0.6.0
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
pynif==0.1.4
pyparsing==2.4.5
python-dateutil==2.8.1
rdflib==4.2.2
requests==2.22.0
six==1.13.0
soupsieve==1.9.5
tabulate==0.8.6
urllib3==1.25.8
Werkzeug==0.16.0
